{{ define "main" }}
<article class="pa3 pa4-ns">
  <header class="mb5">
    <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
      {{ .Title }}
    </h1>
    <section class="f6 ttu tracked gray">
      {{ .Content }}
    </section>
  </header>
  <section class="mw8 center">
    {{ range .Paginator.Pages }}
      <div class="pb5 mb5 bb b--light-gray">
        <h2 class="f3 fw7 lh-title mb2">
          <a href="{{ .RelPermalink }}" class="link black hover-gray">{{ .Title }}</a>
        </h2>
        <time class="f6 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "January 2, 2006" }}
        </time>
        <div class="f5 lh-copy nested-copy-line-height mb4">
          {{ .Summary }}
        </div>
        <a href="{{ .RelPermalink }}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link ph2 pv1">Read More</a>
      </div>
    {{ end }}
  </section>
  {{ template "_internal/pagination.html" . }}
</article>

<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.6;
    color: #333;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .hover-gray:hover {
    color: #555;
  }
</style>
{{ end }}
